header {
    display: flex;
    justify-content: center;
}

header div:first-child {
    position: absolute;
    display: flex;
    width: 1103px;
    height: 55.46px;
    padding: 25px;
    margin: auto;
    justify-content: space-between;
}

#headerStuff {
    width: 234px;
    height: 15px;
    display: flex;

}

#headerStuff a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 15px;
    color: white;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

body.background-main{
    margin: 0%;
}

.banner {
    background-image: url(images/background.png);
    padding: 20px;
    margin: 0;
}

#Getschooled {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*position: absolute;*/
    top: 215px;
}

#Getschooled h1 {
    font-size: 120px;
    margin-bottom: 10px;
    color: white;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

#Getschooled p {
    margin-top: 5px;
    width: 300px;
    height: 50px;
    margin-left: 30px;
    word-spacing: 60px;
    margin-bottom: 1px;
    font-weight: bold;
    color: white;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

#Getschooled button {
    border-radius: 30px;
    background-color: rgb(160, 72, 242);
    color: white;
    padding: 15px 30px;
    font-size: 15px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    border-style: none;
    margin-top: 30px;
    margin-left: 30px;
}

#pros {
    color: white;
    text-align: center;
    margin-top: 200px;
    font-family: "Helvetica";
    font-weight: lighter;
    font-size: 23px;
    margin-left: 50px;
}
#pros .highlighted-word {
    color:rgb(181, 117, 241);
}

#persons-container {
    display:flex;
    justify-content: space-around;
}

.persons {
    text-align: center;
    margin: 10px;
    margin-top: 100px;
}

#persons-container h3 {
    color: white;
    margin-bottom: 10px;
}

#persons-container p {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}
.quote {
    overflow: hidden;
    background-color: rgb(180, 121, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 70px;
}

#quoteid {
    max-width: 600px;
    margin: 0 auto;
    margin-right: 100px;
    color: white;
}

#avatar {
    margin-left: 200px; 
    margin-top: 20px;
}

blockquote {
    margin: 0;
    text-align: left;
}

p {
    margin: 0;
    text-align: left;
    margin-top: 10px;
}

#quoteid p:first-child {
    margin-bottom: 100px; /* Ajusta el valor según tus preferencias */
}
